.description {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  max-width: 300px;
}

.hidden {
  display: none;
}

#close-btn {
  position: absolute;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #4c577d;
  color: #fff;
  left: 350px;
  bottom: -20px;
  border: 2px solid #ccc;
}

@media (max-width: 430px) {
  #close-btn {
    position: absolute;
    bottom: -240px;
    left: 335px;
  }
}
