@keyframes acenar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.img-mao {
  animation: acenar 2s infinite; /* Aplica a animação ao ícone de mão */
}
